.info-rectangle {
  background: #c8c8c8;
  padding: 5px;
  padding-left: 0; }

#circulo {
  background-color: #fff;
  width: 400px;
  height: 400px;
  border: 2px solid #000; }

.borderStyle {
  border: 2px solid #000; }

.inputAdd {
  width: 100%; }

.btn-awa {
  -webkit-box-shadow: 5px 6px 5px 0px black;
  -moz-box-shadow: 5px 6px 5px 0px black;
  box-shadow: 5px 6px 5px 0px black;
  width: 100%; }

#btnAgregar {
  margin-top: 20px; }

#btnEliminar {
  margin-top: 20px; }

.instrucciones1, .instrucciones2 {
  margin-top: 50px; }
